{% extends "gestorbases/_layouts/base.html" %}

{% load widget_tweaks %}


{% load static %}

{% block titulo_conteudo %}Usuários logados {% endblock %}

{% block opcoes %}
	
{% endblock %}

{% block conteudo %}

			
	<div class="container-fluid">

		<div class="table-responsive">
			{% if usuarios|length > 0 %}
				<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<thead class="aw-table-header-dark"><!--thead-dark-->
						<tr>
							<th>Nome</th>
						</tr>
					</thead>
				  
					<tbody>
						{% for usuario in usuarios %}
							<tr >
								<td class="text-center">{{usuario.username | upper}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                   <h5>Nenhuma <code>Usuário </code> logado ainda.</h5>
                </div>
            {% endif %}
		</div>


    	<hr style="margin-top: : 0px">
    	<div class="row">
			<!-- CONTROLES DE NAVEGAÇÃO -->
			<div class="col-sm-9 col-md-6 col-lg-8">
				<ul class="pagination">
					{% for base in bases.paginator.page_range %}
						
						<li class="{% if  user  ==  usuarios.number  %}active{% endif %}" ><a href="?page={{user}}">{{user}}</a></li>
					{% endfor %}
				
				</ul>
			</div>

    	</div>

	</div>









	<script>
	function excluir() {
		swal({
			title: "Tem certeza?",
			text: "Você não poderá recuperar este registro após a exclusão.",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Sim, exclua agora!",
			closeOnConfirm: false,
			showLoaderOnConfirm: true
		}, function() {
			setTimeout(function() {
				swal("Excluído!", "O registro foi excluído com sucesso.", "success");
			}, 2000);
		});
	}
	</script>
{% endblock %}
